@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #0a0f1c; /* or any dark color of your choice */
  }


  #home, #projects, #skills, #about, #contact {
    scroll-margin-top: 80px;
  }

